# importar libs

In [1]:
import pandas as pd

# ler dados de um CSV

In [2]:
df = pd.read_csv('TB_MEDICAMENTO.csv')

/mnt/code/.pyenv/versions/3.6.9/envs/venv_jupyter/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (24,25,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [95]:
df

,ap_autoriz,id_pcn,id_estab,ap_cmp,ap_pripal,ap_vl_ap,ap_nuidade,ap_ufdif,ap_mndif,ap_dtinic,...,ap_dtsolic,ap_dtaut,ap_cidcas,ap_cidpri,ap_cidsec,am_peso,am_altura,am_transpl,am_qtdtran,am_gestant
0,1120200793657,1785772,35,202101,604780010,0.0,11,0,1,20201201,...,20200901,20200901,0,E100,0000,38.0,146.0,N,0,N
1,1120200795076,1542970,35,202101,604620039,0.0,63,0,1,20201201,...,20200902,20200902,0,M810,0000,660.0,155.0,N,0,N
2,1120200795230,514665,35,202101,604780010,0.0,53,0,1,20201201,...,20200902,20200902,0,E100,0000,78.0,162.0,N,0,N
3,1120200795461,784740,35,202101,604010010,0.0,57,0,1,20201201,...,20200827,20200902,0,K513,0000,725.0,166.0,N,0,N
4,1120200795714,696798,35,202101,604010010,0.0,65,0,1,20201201,...,20200827,20200902,0,K513,0000,56.0,155.0,N,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046315,5321200263390,783915,145,202101,604360029,0.0,53,0,1,20210131,...,20210131,20210131,0,E780,0,66.0,163.0,N,0,N
2046316,5321200263423,760059,145,202101,604690029,0.0,34,0,1,20210131,...,20210131,20210131,0,M073,0,113.0,182.0,N,0,N
2046317,5321200263500,360472,145,202101,604180012,0.0,37,0,1,20210131,...,20210119,20210131,0,G400,0,108.0,164.0,N,0,N
2046318,5321200263687,383546,145,202101,604080026,0.0,27,0,1,20210131,...,20210131,20210131,0,M058,0,72.0,160.0,N,0,N
2046319,5321200263698,515195,145,202101,604030037,0.0,33,0,1,20210131,...,20210131,20210131,0,E221,0,59.0,170.0,N,0,N

In [17]:
stats = df.describe()
stats

,ap_autoriz,id_pcn,id_estab,ap_cmp,ap_pripal,ap_vl_ap,ap_nuidade,ap_ufdif,ap_mndif,ap_dtinic,...,ap_perman,ap_alta,ap_transf,ap_catend,ap_apacant,ap_unisol,ap_cidcas,am_peso,am_altura,am_qtdtran
count,2.046320e+06,2.046320e+06,2.046320e+06,2.046320e+06,2.046320e+06,2.046320e+06,2.046320e+06,2.046320e+06,2046320.0,2.046320e+06,...,2.046320e+06,2.046320e+06,2.046320e+06,2.046320e+06,2.046320e+06,2.046320e+06,2046320.0,2.046320e+06,2.046320e+06,2.046320e+06
mean,3.517620e+12,9.336649e+05,1.350098e+02,2.020988e+05,6.043243e+08,1.253482e+01,5.386097e+01,5.259686e-03,1.0,2.020472e+07,...,9.942077e-01,1.407893e-03,9.192111e-04,1.000001e+00,1.382239e+11,1.193222e+06,0.0,8.072074e+01,1.574050e+02,1.335177e-02
std,7.468688e+11,5.383981e+05,6.438301e+01,1.387242e+01,2.132176e+05,1.964202e+02,2.011907e+01,7.233273e-02,0.0,4.381166e+03,...,7.588676e-02,3.749549e-02,3.030456e-02,2.097174e-03,8.381039e+11,2.325406e+06,0.0,9.041849e+01,3.022688e+01,1.196415e-01
min,1.120201e+12,1.000000e+00,1.000000e+00,2.020100e+05,6.040100e+08,0.000000e+00,0.000000e+00,0.000000e+00,1.0,2.020080e+07,...,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,-6.500000e+01,0.000000e+00,0.000000e+00
25%,3.121201e+12,4.668568e+05,8.600000e+01,2.021010e+05,6.041301e+08,0.000000e+00,4.100000e+01,0.000000e+00,1.0,2.020112e+07,...,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,6.000000e+01,1.550000e+02,0.000000e+00
50%,3.520261e+12,9.358745e+05,1.300000e+02,2.021010e+05,6.043201e+08,0.000000e+00,5.700000e+01,0.000000e+00,1.0,2.020121e+07,...,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,6.900000e+01,1.620000e+02,0.000000e+00
75%,4.120208e+12,1.399760e+06,1.910000e+02,2.021010e+05,6.045000e+08,0.000000e+00,6.900000e+01,0.000000e+00,1.0,2.021010e+07,...,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.246597e+06,0.0,8.000000e+01,1.700000e+02,0.000000e+00
max,5.321200e+12,1.862646e+06,2.490000e+02,2.021010e+05,6.048200e+08,3.367220e+04,9.900000e+01,1.000000e+00,1.0,2.021013e+07,...,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00,5.221201e+12,9.999450e+06,0.0,9.990000e+02,9.990000e+02,3.000000e+00

In [55]:
stats[['ap_transf','ap_catend']]

          ap_transf     ap_catend
count  2.046320e+06  2.046320e+06
mean   9.192111e-04  1.000001e+00
std    3.030456e-02  2.097174e-03
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  1.000000e+00
50%    0.000000e+00  1.000000e+00
75%    0.000000e+00  1.000000e+00
max    1.000000e+00  4.000000e+00

# estatísticas descrivas para a coluna Valor Total da APAC Aprovado

In [56]:
stats['ap_vl_ap'].loc[['min','max','mean','std']]

min         0.000000
max     33672.200000
mean       12.534821
std       196.420171
Name: ap_vl_ap, dtype: float64

In [57]:
std = stats['ap_vl_ap'].std()
mean = stats['ap_vl_ap'].mean()

In [64]:
print(f'O valor médio dos procedimentos é {mean:.2f} +- {std:.2f}')

O valor médio dos procedimentos é 260025.14 +- 721868.09

In [89]:
df_qtd_por_ap_vl_ap = df['ap_vl_ap'].value_counts().to_frame(name='qtd_obs')
df_qtd_por_ap_vl_ap

         qtd_obs
0.00     1900353
10.08      12927
6.60       12901
3.30       11307
20.16      10652
...          ...
37.60          1
2946.92        1
4.92           1
607.60         1
15.75          1

[1137 rows x 1 columns]

In [ ]:
total = df['ap_autoriz'].count()

In [79]:
print(f'Existem {total} de registros, sendo que (1.900.353) não tem ap_vl_ap informado')

A grande maioria dos registros (1900353) não tem ap_vl_ap informado

In [88]:
print(f'Apenas {total - 1900353} de registros tem ap_vl_ap informado')

Apenas 145967 de registros tem ap_vl_ap informado

# estatísticas descrivas para a coluna Valor Total da APAC Aprovado filtrando ap_autoriz > 0,00

In [101]:
filtro = df['ap_vl_ap'] > 0.00

In [103]:
df_sem_zero = df[filtro]
df_sem_zero

,ap_autoriz,id_pcn,id_estab,ap_cmp,ap_pripal,ap_vl_ap,ap_nuidade,ap_ufdif,ap_mndif,ap_dtinic,...,ap_dtsolic,ap_dtaut,ap_cidcas,ap_cidpri,ap_cidsec,am_peso,am_altura,am_transpl,am_qtdtran,am_gestant
15,1120200801643,271445,35,202101,604110030,256.58,8,0,1,20201201,...,20200824,20200904,0,E228,0000,385.0,135.0,N,0,N
16,1120200801852,595154,35,202101,604110030,256.58,9,0,1,20201201,...,20200807,20200904,0,E228,0000,40.0,142.0,N,0,N
25,1120200803030,902156,35,202101,604510020,3.30,40,0,1,20201201,...,20200908,20200908,0,F200,0000,68.0,157.0,N,0,N
26,1120200803304,1795356,35,202101,604110030,256.58,7,0,1,20201201,...,20200826,20200908,0,E228,0000,27.0,121.0,N,0,N
34,1120200804360,26805,35,202101,604370016,17.10,63,0,1,20201201,...,20200824,20200908,0,G20,0000,610.0,167.0,N,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046234,5321200253039,113184,145,202101,604260016,20.16,52,0,1,20210129,...,20201202,20210129,0,N180,0,62.0,167.0,N,0,N
2046235,5321200253149,1755585,11,202101,604470045,20.16,51,0,1,20210129,...,20210129,20210129,0,N180,0,79.0,170.0,N,0,N
2046240,5321200253370,1813796,11,202101,604580029,289.50,3,0,1,20210129,...,20210129,20210129,0,E848,0,15.0,93.0,N,0,N
2046276,5321200254436,685794,227,202101,604580029,173.70,17,0,1,20210129,...,20201214,20210129,0,K860,0,53.0,161.0,N,0,N
2046283,5321200254623,1753551,227,202101,604260016,50.40,12,0,1,20210129,...,20201205,20210129,0,N180,0,25.0,129.0,N,0,N

In [123]:
stats_sem_zero = df_sem_zero.describe()
stats_sem_zero

,ap_autoriz,id_pcn,id_estab,ap_cmp,ap_pripal,ap_vl_ap,ap_nuidade,ap_ufdif,ap_mndif,ap_dtinic,...,ap_perman,ap_alta,ap_transf,ap_catend,ap_apacant,ap_unisol,ap_cidcas,am_peso,am_altura,am_qtdtran
count,1.459670e+05,1.459670e+05,145967.000000,145967.000000,1.459670e+05,145967.000000,145967.000000,145967.000000,145967.0,1.459670e+05,...,145967.000000,145967.000000,145967.000000,145967.0,1.459670e+05,1.459670e+05,145967.0,145967.000000,145967.000000,145967.000000
mean,3.435942e+12,9.410884e+05,133.763686,202098.251557,6.043896e+08,175.726393,43.911788,0.005275,1.0,2.020543e+07,...,0.985702,0.000151,0.000617,1.0,1.558224e+11,1.256419e+06,0.0,80.127056,155.065481,0.004474
std,7.975304e+11,5.365197e+05,64.914451,15.439030,1.786070e+05,715.677209,23.194043,0.072439,0.0,4.471686e+03,...,0.118716,0.012276,0.024823,0.0,8.882868e+11,2.317859e+06,0.0,99.581617,33.400441,0.069056
min,1.120201e+12,1.000000e+01,1.000000,202010.000000,6.040200e+08,0.100000,0.000000,0.000000,1.0,2.020080e+07,...,0.000000,0.000000,0.000000,1.0,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000,0.000000
25%,3.121200e+12,4.865620e+05,86.000000,202101.000000,6.042600e+08,6.600000,24.000000,0.000000,1.0,2.020113e+07,...,1.000000,0.000000,0.000000,1.0,0.000000e+00,0.000000e+00,0.0,52.000000,151.000000,0.000000
50%,3.520259e+12,9.182980e+05,127.000000,202101.000000,6.044800e+08,20.160000,47.000000,0.000000,1.0,2.020122e+07,...,1.000000,0.000000,0.000000,1.0,0.000000e+00,0.000000e+00,0.0,65.000000,160.000000,0.000000
75%,4.120205e+12,1.401474e+06,193.000000,202101.000000,6.045100e+08,72.000000,62.000000,0.000000,1.0,2.021010e+07,...,1.000000,0.000000,0.000000,1.0,0.000000e+00,2.341417e+06,0.0,78.000000,170.000000,0.000000
max,5.321200e+12,1.862639e+06,249.000000,202101.000000,6.048100e+08,33672.200000,99.000000,1.000000,1.0,2.021013e+07,...,1.000000,1.000000,1.000000,1.0,5.221200e+12,9.993827e+06,0.0,999.000000,990.000000,3.000000

In [128]:
stats_sem_zero['ap_vl_ap']

count    145967.000000
mean        175.726393
std         715.677209
min           0.100000
25%           6.600000
50%          20.160000
75%          72.000000
max       33672.200000
Name: ap_vl_ap, dtype: float64

In [129]:
mean = 175.726393

In [131]:
print(f'O valor médio dos procedimentos é {mean:.2f}')

O valor médio dos procedimentos é 175.73